* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 30px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 20px;
    width: 250px;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center; /* Align content to center */
}

.card:hover {
    transform: scale(1.05);
}

/* Added thumbnail styling */
.pdf-thumbnail {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px; /* Space between thumbnail and content */
}

.title {
    font-size: 18px;
    margin-bottom: 10px;
}

.author {
    color: #555;
    margin-bottom: 20px;
}

.download-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.download-button:hover {
    background-color: #ffffff;
    color: black;
    border: 1px solid #007bff;
    transition: all 0.5s;
}

/* Responsive design for mobile */
@media (max-width: 600px) {
    .card {
        width: 100%;
    }
}
